# Ignore datasets
data/raw/*
data/cleaned/*

# Allow placeholder files
!data/raw/.gitkeep
!data/cleaned/.gitkeep

# Ignore common data formats
*.csv
*.tsv
*.gz

# Ignore generated SQL inserts
sql/insert_data.sql

# Allow empty placeholder
!sql/insert_data.sql
