# Ignore datasets
data/raw/*

# Allow placeholder files
!data/raw/.gitkeep
!data/database/.gitkeep

# Ignore SQLite database
data/database/movies.db

# Ignore Jupyter notebook checkpoints
**/.ipynb_checkpoints/

# ignore .env
.env
